<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%logger{1} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="de.gtrefs.coffeeshop.integration" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>